.container {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 200px;
    border: 10px palevioletred;
}

.container-image {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-image img {
    width: 100px;
    height: 100px;
    background-color: lightpink;
}

.container-data {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: pink;
}

.nombre {
    font-weight: 900;
    font-size: 24px;
}

.id {
    font-weight: 500;
    font-size: 14px;
    color: gray;
}

.precio {
    font-weight: 600;
    font-size: 16px;
    color: black;
}

.description {
    font-weight: 600;
    font-size: 16px;
    color: black;
    font-style: normal;
    font-weight: 100;
    text-align: justify;
}

.descuento {
    background-color: green;
}

.normal {
    background-color: plum;
}

.container Form {
    font-size: 12px;
    color:mediumvioletred;
    font-style: normal;
    text-align: justify;
}