.App {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
  padding: 24px;
}

.App * {
  justify-self: center;
}

.mostrarcarrito {
  width: 50;
  height: 50;
  position: absolute;
  right: -200px;
  top: 40px;
}

.opt-cart {
  /*display: inline-block;
  height: 100%;
  padding-left: 20px;*/
  /*width: 50;
  height: 50;
  position: absolute;
  right: 40px;
  bottom: 925px;*/
}